a {
    text-decoration: none;
    color: #212121;
}

.toolbar-items{
    list-style: none;
    padding: 0;
    margin: 0;
}

.toolbar-item{
    display: inline-flex;
    vertical-align: middle;
    font-size: 20px;
}