a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.toolbar-items{
    list-style: none;
    padding: 0;
    margin: 0; 
}

.toolbar-item{
    padding-left: 10px;
    padding-right: 10px;
} 

mat-divider{
    border-color: #fcfcfc;
}