<section class="signin-form" fxLayoutAlign="center" fxLayoutGap="15px" style="margin-top: 20px;">
  <mat-card fxFlex="600px">

    <!-- Read-only form -->
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-card-title>Informações do Livro</mat-card-title>

      <mat-form-field class="v-input">
        <input type="text" matInput placeholder="Título do Livro" readonly value="Título do Livro">
      </mat-form-field>

      <mat-form-field class="v-input">
        <input type="text" matInput placeholder="Autor do Livro" readonly value="Autor do Livro">
      </mat-form-field>

      <mat-form-field class="v-input">
        <input type="text" matInput placeholder="Editora do Livro" readonly value="Editora do Livro">
      </mat-form-field>

      <mat-form-field class="v-input">
        <input type="text" matInput placeholder="Gêneros" readonly value="Gênero do Livro">
      </mat-form-field>

      <div style="width: 400px;" fxLayout fxLayoutGap="20px" fxFlexAlign="center">

        <mat-form-field class="h-input">
          <input type="number" matInput placeholder="Ano da Edição" readonly value="2000">
        </mat-form-field>

        <mat-form-field class="h-input">
          <input type="text" matInput placeholder="Edição" readonly value="Xª Edição">
        </mat-form-field>

        <mat-form-field class="h-input">
          <input type="number" matInput placeholder="Nº de Exemplares" readonly value="5">
        </mat-form-field>

        <mat-form-field class="h-input">
          <input type="number" matInput placeholder="Disponíveis" readonly value="5">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="15px">
        <button (click)="onCancel()" mat-button color="primary">Voltar</button>
        <button mat-raised-button color="primary" [disabled]="1 == 1">Editar Livro</button>
      </div>
    </form>    
  </mat-card>
</section>